# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp
*.pyc

# don't care about the mako stuff this is just for doing the bench marks
mako

# Can also ignore all directories and files in a directory.
# tmp/**/* 
